.post-description {
    font-family: "Source Sans Pro", sans-serif !important;
    font-size: 1.2rem !important;
    font-weight: 400;
}

.desc {
    font-family: "Source Sans Pro", sans-serif !important;
}